
	button{
		background-color:#006400;
		color:#ffffff;
		padding: 20px;
		font-size:20px;
		margin: 10px;
		border: 1px solid black;
		border-radius: 3px;
	}
	#b2{background-color:blue;}
	button.even{
		background-color:#010000;
		
	}
