button{
    background-color:#006400;
    color:#ffffff;
    padding: 20px;
    font-size:20px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 3px;
}
input {
    margin: 5px;
    padding: 5px;
    width: 10em;
}